html
  head
    title= title
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" )
  body
    div#app

    script(type='text/javascript' src='https://cdn.jsdelivr.net/g/jquery@3.1.0')
    script(type='text/javascript' src='https://cdn.jsdelivr.net/vue/1.0.26/vue.js')
    script(type='text/javascript' src='https://cdn.jsdelivr.net/vue.router/0.7.10/vue-router.min.js')
    script(type='text/javascript' src='/js/app.js')